<doctype html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
            <link rel="stylesheet" href="/css/style.css"> 
            <title>Unix Timestamp Microservice</title>
        </head>
        <body>
            <div class="container">
                <h1>Request Header Parser Microservice</h1>
                <div class="main-container">
                    <h2>A freeCodeCamp Javascript Back-End Challange</h2>
                    <blockquote>
                        <p>This challange makes use of NodeJS and ExpressJS</p>
                    </blockquote>
                    <blockquote>
                        <p><strong>Challange:</strong><br/>
                            <ul>
                                <li>
                                    Make use of the data sent in the <span style="color: #016FBB">request.headers</span> method upon accessing a webpage. 
                                </li>
                                <li>
                                    A JSON object is returned with the parsed data for: <span style="color: #016FBB">IP Address, Language &amp; System Infomation</span>.
                                </li>
                            </ul>
                        </p> 
                    </blockquote>         
                    <h3>Usage:</h3>
                    <p>Click the button below or add <code>/headers</code> in the address bar above.</p>
                    <a href="http://localhost:8080/headers"><button class="btn btn-success btn-block">Request Header Parser Microservice</button></a>
                    <h3>Output:</h3>
                    <code>
                        {
                            IP Address: "localhost:8080",
                            Language: "en-US",
                            Operating System: "Windows NT 10.0; Win64; x64"
                        }
                    </code>
                </div>
            </div>
            <footer>
                <p>Code and Design by <a href="http://seanmurphy.eu/" target="_blank">Sean Murphy</a></p>
            </footer>
        </body>
    </html>
</doctype>    