/********************************
    Google Fonts
*********************************/

@import url('https://fonts.googleapis.com/css?family=Roboto|Special+Elite');

/********************************
    General
*********************************/

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin-top: 5%;
    height: calc(100vh - 12.5vh);
}

h1 {
    text-align: center;
}

h1 {
    font-family: 'Special Elite', sans-serif;
}

footer {
    text-align: center;
}

a {
    color: #3661A2;
}

a:visited {
    text-decoration: none;
}

.main-container {
    margin-top: 10%;
    padding-left: 5%;
}

h2, h3 {
    font-size: 17px;
    font-weight: bold;
}

li {
    list-style-type: square;
}